# Understanding Pandas Series and DataFrames - Lab

# Introduction

In this lab, let's get some hands on practice working with data cleanup using Pandas.

## Objectives
You will be able to:

* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

# Practice

## Objectives
You will be able to:
* Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
* Create Series & DataFrames from dictionaries and lists
* Manipulate columns in DataFrames (df.rename, df.drop)
* Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
* Manipulate column datatypes

# Rename all the columns to lower case

In [4]:
#Your code here
df = df.rename(str.lower, axis='columns')
df

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941
...,...,...,...,...,...,...,...,...,...,...,...
197595,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,01:00:00,REGULAR,5554,348
197596,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,05:00:00,REGULAR,5554,348
197597,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,09:00:00,REGULAR,5554,348
197598,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,13:00:00,REGULAR,5554,348
197599,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,17:00:00,REGULAR,5554,348
197600,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/27/2018,21:00:00,REGULAR,5554,348
197601,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,01:00:00,REGULAR,5554,348
197602,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,05:00:00,REGULAR,5554,348
197603,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,09:00:00,REGULAR,5554,348
197604,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,13:00:00,REGULAR,5554,348
197605,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,17:00:00,REGULAR,5554,348
197606,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/28/2018,21:00:00,REGULAR,5554,348
197607,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,01:00:00,REGULAR,5554,348
197608,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,05:00:00,REGULAR,5554,348
197609,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,09:00:00,REGULAR,5554,348
197610,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,13:00:00,REGULAR,5554,348
197611,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,17:00:00,REGULAR,5554,348
197612,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/29/2018,21:00:00,REGULAR,5554,348
197613,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,01:00:00,REGULAR,5554,348
197614,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,05:00:00,REGULAR,5554,348
197615,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,09:00:00,REGULAR,5554,348
197616,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,13:00:00,REGULAR,5554,348
197617,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,17:00:00,REGULAR,5554,348
197618,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/30/2018,21:00:00,REGULAR,5554,348
197619,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,01:00:00,REGULAR,5554,348
197620,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,05:00:00,REGULAR,5554,348
197621,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,09:00:00,REGULAR,5554,348
197622,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,13:00:00,REGULAR,5554,348
197623,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,17:00:00,REGULAR,5554,348
197624,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/31/2018,21:00:00,REGULAR,5554,348

# Change the Index to be the Line Names

In [41]:
#Your code here
df = df.set_index('linename')

# Painstakingly change the index back

In [42]:
# Your code here
df = df.reset_index()

In [59]:
df.dtypes

Linename                                                                        object
C/A                                                                             object
Unit                                                                            object
Scp                                                                             object
Station                                                                         object
Division                                                                        object
Date                                                                    datetime64[ns]
Time                                                                            object
Desc                                                                            object
Entries                                                                          int64
Exits                                                                            int64
Num_Lines                                                                        int64
dtype: object

## Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [44]:
# Your code here
df['Num_Lines'] = df.apply(lambda row: len(row.linename), axis=1)
df

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits,Num_Lines
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,7
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,7
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,7
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,7
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,7
5,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,20:00:00,REGULAR,6736562,2283425,7
6,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,00:00:00,REGULAR,6736683,2283460,7
7,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,04:00:00,REGULAR,6736696,2283461,7
8,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,08:00:00,REGULAR,6736705,2283483,7
9,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,12:00:00,REGULAR,6736746,2283524,7
10,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,16:00:00,REGULAR,6736873,2283587,7
11,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/26/2018,20:00:00,REGULAR,6737067,2283631,7
12,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,00:00:00,REGULAR,6737136,2283656,7
13,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,04:00:00,REGULAR,6737146,2283658,7
14,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,08:00:00,REGULAR,6737169,2283736,7
15,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,12:00:00,REGULAR,6737301,2283965,7
16,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,16:00:00,REGULAR,6737553,2284025,7
17,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/27/2018,20:00:00,REGULAR,6738257,2284091,7
18,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,00:00:00,REGULAR,6738430,2284121,7
19,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,04:00:00,REGULAR,6738442,2284126,7
20,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,08:00:00,REGULAR,6738474,2284216,7
21,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,12:00:00,REGULAR,6738621,2284402,7
22,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,16:00:00,REGULAR,6738886,2284425,7
23,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/28/2018,20:00:00,REGULAR,6739630,2284478,7
24,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,00:00:00,REGULAR,6739804,2284508,7
25,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,04:00:00,REGULAR,6739812,2284512,7
26,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,08:00:00,REGULAR,6739847,2284600,7
27,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,12:00:00,REGULAR,6739986,2284838,7
28,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,16:00:00,REGULAR,6740257,2284896,7
29,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/29/2018,20:00:00,REGULAR,6740888,2284941,7
...,...,...,...,...,...,...,...,...,...,...,...,...
197595,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,01:00:00,REGULAR,5554,348,1
197596,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,05:00:00,REGULAR,5554,348,1
197597,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,09:00:00,REGULAR,5554,348,1
197598,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,13:00:00,REGULAR,5554,348,1
197599,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,17:00:00,REGULAR,5554,348,1
197600,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/27/2018,21:00:00,REGULAR,5554,348,1
197601,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,01:00:00,REGULAR,5554,348,1
197602,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,05:00:00,REGULAR,5554,348,1
197603,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,09:00:00,REGULAR,5554,348,1
197604,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,13:00:00,REGULAR,5554,348,1
197605,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,17:00:00,REGULAR,5554,348,1
197606,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/28/2018,21:00:00,REGULAR,5554,348,1
197607,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,01:00:00,REGULAR,5554,348,1
197608,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,05:00:00,REGULAR,5554,348,1
197609,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,09:00:00,REGULAR,5554,348,1
197610,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,13:00:00,REGULAR,5554,348,1
197611,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,17:00:00,REGULAR,5554,348,1
197612,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/29/2018,21:00:00,REGULAR,5554,348,1
197613,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,01:00:00,REGULAR,5554,348,1
197614,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,05:00:00,REGULAR,5554,348,1
197615,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,09:00:00,REGULAR,5554,348,1
197616,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,13:00:00,REGULAR,5554,348,1
197617,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,17:00:00,REGULAR,5554,348,1
197618,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/30/2018,21:00:00,REGULAR,5554,348,1
197619,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,01:00:00,REGULAR,5554,348,1
197620,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,05:00:00,REGULAR,5554,348,1
197621,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,09:00:00,REGULAR,5554,348,1
197622,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,13:00:00,REGULAR,5554,348,1
197623,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,17:00:00,REGULAR,5554,348,1
197624,R,TRAM2,R469,00-05-01,RIT-ROOSEVELT,RIT,08/31/2018,21:00:00,REGULAR,5554,348,1

In [46]:
df['date'] = pd.to_datetime(df['date'],format="%m/%d/%Y")

In [86]:
df_new = df[['Date', 'Entries','Exits']]
df_new = df_new.diff(axis=0)

df_new = df_new[['Entries','Exits']]

In [90]:
df_new.columns = ['Entries_Diff','Exits_Diff']
df_new

        Entries_Diff  Exits_Diff
0                NaN         NaN
1               20.0         4.0
2               18.0        41.0
3               75.0        85.0
4              169.0        70.0
5              213.0        41.0
6              121.0        35.0
7               13.0         1.0
8                9.0        22.0
9               41.0        41.0
10             127.0        63.0
11             194.0        44.0
12              69.0        25.0
13              10.0         2.0
14              23.0        78.0
15             132.0       229.0
16             252.0        60.0
17             704.0        66.0
18             173.0        30.0
19              12.0         5.0
20              32.0        90.0
21             147.0       186.0
22             265.0        23.0
23             744.0        53.0
24             174.0        30.0
25               8.0         4.0
26              35.0        88.0
27             139.0       238.0
28             271.0        58.0
29             631.0        45.0
...              ...         ...
197595           0.0         0.0
197596           0.0         0.0
197597           0.0         0.0
197598           0.0         0.0
197599           0.0         0.0
197600           0.0         0.0
197601           0.0         0.0
197602           0.0         0.0
197603           0.0         0.0
197604           0.0         0.0
197605           0.0         0.0
197606           0.0         0.0
197607           0.0         0.0
197608           0.0         0.0
197609           0.0         0.0
197610           0.0         0.0
197611           0.0         0.0
197612           0.0         0.0
197613           0.0         0.0
197614           0.0         0.0
197615           0.0         0.0
197616           0.0         0.0
197617           0.0         0.0
197618           0.0         0.0
197619           0.0         0.0
197620           0.0         0.0
197621           0.0         0.0
197622           0.0         0.0
197623           0.0         0.0
197624           0.0         0.0

[197625 rows x 2 columns]

In [91]:
#df_with_difference = pd.concat([df, df_new], axis=1, sort=False)

In [96]:
df_with_difference.groupby('Date').sum()

                  Entries         Exits  Num_Lines  Entries_Diff   Exits_Diff
Date
2018-08-25  1115661545514  909142081474      74725   669429040.0  490627998.0
2018-08-26  1192306179082  959223750461      75306  -702007979.0 -518038324.0
2018-08-27  1114237052454  911938153513      76110     5839053.0    3435110.0
2018-08-28  1143313287046  942230721477      77303     5127401.0    4016404.0
2018-08-29  1123655222441  920630864687      75713    -8160361.0    1506764.0
2018-08-30  1122723988662  920691927110      76607    18987964.0   11959081.0
2018-08-31  1110224700078  906799065337      75573     4054369.0    4210131.0

## Write a function to clean a column name.

In [66]:
def clean(col_name):
    cleaned = col_name.title().strip()
    return cleaned

In [67]:
#This is a list comprehension. It applies your clean function to every item in the list.
#We then reassign that to df.columns
#You shouldn't have to change anything here.
#Your function above should work appropriately here.
df.columns = [clean(col) for col in df.columns]

In [68]:
#Checking the output, we can see the results.
df.columns

Index(['Linename', 'C/A', 'Unit', 'Scp', 'Station', 'Division', 'Date', 'Time',
       'Desc', 'Entries', 'Exits', 'Num_Lines'],
      dtype='object')

## Compare subway traffic by day of the week. Display this as a graph.

In [69]:
#Your code here
dates_df = df.groupby('Date').sum()

In [73]:
dates_df['net_travels'] = dates_df['Entries'] - dates_df['Exits']
#dates_df.dtypes
#dates_df.Exits

In [1]:
import calendar
#dates_df['weekday'] = dates_df.Date.dt.dayofweek
dates_df['Day'] = dates_df.apply(lambda x: calendar.day_name[x.weekday()])
#dates_df = dates_df.reset_index() 
dates_df

NameError: name 'dates_df' is not defined

## Is there more subway traffic on a weekend or a weekday?    Be specific in comparing magnitudes.

In [ ]:
#Your code here

# Drop a couple of columns

In [ ]:
# Your code here